<h1>All Contacts</h1>

<ul id="contacts">
  <% @contacts.each do |contact| %>
    <li>
      <%=  contact.name%>
      <%=  contact.address%>
      <%=  contact.phone_number%>
      <%=  contact.email%>
    </li>
  <% end %>
</ul>
<%= link_to "Create a new Contact", new_path %>
